:root {
  --primary-color: #0b0b0c;
  --secondary-color: #1d1c1c;
  --icons-color: #d1d1d1;
  --icons-hover-color: #3d96b1;
  --text-color: #cacaca;
  --speed: 500ms;
}

.route {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.route p {
  padding-left: 15px;
  font-size: 14px;
}

.mbi-main-container h1 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 25px;
}

.ModuleByIntake {
  background-color: var(--primary-color);
  height: 765px;
}

.mbi-main-container {
  padding-left: 240px;
  padding-top: 70px;
}

.mbi-create-cont {
  background-color: var(--secondary-color);
  padding: 20px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
  width: 600px;
}

.mbi-create-cont h4 {
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
}

.mbi-create-cont form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.mbi-create-cont label {
  color: var(--text-color);
  font-size: 12px;
  padding-left: 10px;
}

.mbi-create-cont input {
  width: 90%;
}

.mbi-create-cont button {
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: #0b0b0c;
  margin-top: 10px;
  margin-left: 3px;
  border-radius: 10px;
  width: 25%;
  color: var(--text-color);
  border: 1px solid #3d96b1;
}
