#students-id-h {
  width: 30px;
}

#students-id-d {
  width: 30px;
}

#students-name-d {
  width: 170px;
}

#students-name-h {
  width: 170px;
}

#students-sid-h {
  width: 100px;
}

#students-sid-d {
  width: 100px;
}

#students-email-h {
  width: 200px;
}

#students-email-d {
  width: 200px;
}

#students-phone-h {
  width: 120px;
}

#students-phone-d {
  width: 120px;
}

#students-intake-h {
  width: 170px;
}

#students-intake-d {
  width: 170px;
}

#students-createdAt-h {
  width: 210px;
}

#students-createdAt-d {
  width: 210px;
}
